* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar {
    background-color: #2c3e50;
    color: white;
    /* padding: 10px 10px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 90px;
}

.toolbar {
    background-color: #34495e;
    padding: 10px;
    border-radius: 8px;
    margin-right: 25px;
}

.tools {
    display: flex;
    align-items: center;
    gap: 15px;
}

.tool-btn {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.tool-btn.shapes {
    background-color: #75834a;
    padding: 8px 10px;
    width: auto;
    height: auto;
    font-size: 14px;
}

.tool-btn:hover {
    background-color: #b5e61d;
}

.tool-btn.active {
    background-color: #b5e61d;
}

.size-control {
    width: 100px;
    cursor: pointer;
}

.color-picker, .bg-color-picker {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
}

.canvas-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}

#backgroundCanvas, #drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shapes-modal {
    position: absolute;
    display: none;
    background-color: #34495e;
    border-radius: 8px;
    padding: 10px;
    z-index: 100;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.shapes-modal.active {
    display: flex;
    gap: 10px;
}

.shape-option {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.shape-option:hover {
    background-color: #3498db;
}

.shape-option.active {
    background-color: #2980b9;
}